{% extends 'base.html' %}
{% block content %}
<div class="table-responsive container">
   <table id="t01" class="table table-striped table-bordered table-hover">
      <th colspan="2">
             Schedule and PIC
           
      </th>
      <tr >
         <td class="display-table-column col-md-6">Start Date</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.start_date }}</td>
      </tr>
      <tr >
         <td class="display-table-column col-md-6">End Date</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.end_date }}</td>
      </tr>
      <tr >
         <td class="display-table-column col-md-6">Start Time</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.start_time }}</td>
      </tr>
      <tr >
         <td class="display-table-column col-md-6">End Time</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.end_time }}</td>
      </tr>
      <tr >
         <td class="display-table-column col-md-6">PIC</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.pic }}</td>
      </tr>
      <tr >
         <td class="display-table-column col-md-6">Phone Number</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.phone_number }}</td>
      </tr>
      <tr >
         <td class="display-table-column col-md-6">Department</td>
         <td class="display-table-column col-md-6">{{ schedule_and_pic.department }}</td>
      </tr>
   </table>
</div>
<br><br>
<div class="table-responsive container">
   <table id="t01" class="table table-striped table-bordered table-hover">
      <th colspan="2">
             Location and Device
           
      </th>
      <tr>
         <td class="display-table-column col-md-6">Fiberhood</td>
         <td class="display-table-column col-md-6">{{ location_and_device.fiberhood }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Site</td>
         <td class="display-table-column col-md-6">{{ location_and_device.site }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Cluster</td>
         <td class="display-table-column col-md-6">{{ location_and_device.cluster }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Floor / Block</td>
         <td class="display-table-column">{{ location_and_device.floor_slash_block }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Device ID</td>
         <td class="display-table-column col-md-6">{{ location_and_device.device_id }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Device Port</td>
         <td class="display-table-column col-md-6">{{ location_and_device.device_port }}</td>
      </tr>
   </table>
</div>
<br><br>
<div class="table-responsive container">
   <table id="t01" class="table table-striped table-bordered table-hover">
      <th colspan="2">
             Activity
           
      </th>
      <tr>
         <td class="display-table-column col-md-6">Sympton of Problem</td>
         <td class="display-table-column col-md-6">{{ activity.symptom_of_problem }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Action Plan</td>
         <td class="display-table-column col-md-6">{{ activity.action_plan }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Estimation</td>
         <td class="display-table-column col-md-6">{{ activity.estimation_duration }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Method Operation Procedure</td>
         <td class="display-table-column col-md-6"><a href="{{ activity.document.url }}">  {{ activity.document.url }} </a>></td>
      </tr>
   </table>
</div>
<br><br>
<div class="table-responsive container">
   <table id="t01" class="table table-striped table-bordered table-hover">
      <th colspan="2">
             Customer Impact
           
      </th>
      <tr>
         <td class="display-table-column col-md-6">Count of Customer Impact</td>
         <td class="display-table-column col-md-6">{{ customer_impact.count_of_customer_impact }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Network Interrupt</td>
         <td class="display-table-column col-md-6">{{ customer_impact.network_interrupt }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Service Interrupt</td>
         <td class="display-table-column col-md-6">{{ customer_impact.service_interrupt }}</td>
      </tr>
   </table>
</div>
<br><br>
<div class="table-responsive container">
   <table id="t01" class="table table-striped table-bordered table-hover">
      <th colspan="2">
             Device Replacement
           
      </th>
      <tr>
         <td class="display-table-column col-md-6">Old Device ID</td>
         <td class="display-table-column col-md-6">{{ device_replacement.old_device_id }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Old Device Type</td>
         <td class="display-table-column col-md-6">{{ device_replacement.old_device_type }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Old Serial Number</td>
         <td class="display-table-column col-md-6">{{ device_replacement.old_serial_number}}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">Old Barcode</td>
         <td class="display-table-column col-md-6">{{ device_replacement.old_barcode }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">New Device ID</td>
         <td class="display-table-column col-md-6">{{ device_replacement.new_device_id }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">New Device Type</td>
         <td class="display-table-column col-md-6">{{ device_replacement.new_device_type }}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">New Serial Number</td>
         <td class="display-table-column col-md-6">{{ device_replacement.new_serial_number}}</td>
      </tr>
      <tr>
         <td class="display-table-column col-md-6">New Barcode</td>
         <td class="display-table-column col-md-6">{{ device_replacement.new_barcode }}</td>
      </tr>
   </table>
</div>
<br><br>
{% if request.user.is_staff %}
   {% if maintenance.status == 1 %} 
   <div class="container">
      <div class="Absolute-Center is-Responsive">
         <div class="col-sm-12 col-md-10 col-md-offset-1">
            <form action="{% url 'forms:approve' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="form-group">
                  <input type="hidden" name="maintenance_id" value={{maintenance.id}}>
                  <input type="submit" class="btn btn-success approve_button" value="Approve" name="approve"/>
                    
                  <input type="submit" class="btn btn-danger approve_button" value="Reject" name="reject"/> 
               </div>
            </form>
         </div>
      </div>
   </div>
   {% elif maintenance.status == 2 %}
   <div class="container">
      <div class="Absolute-Center is-Responsive">
         <div class="col-sm-12 col-md-10 col-md-offset-1">
            <form action="{% url 'forms:reschedule'%}"  method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <input type="hidden" name="maintenance_id" value={{maintenance.id}}>
               <input type="submit" class="btn btn-warning reschedule_button" value="Reschedule" />
            </form>
         </div>
      </div>
   </div>
   {% endif %}
{% endif %}
{% endblock %}