{% extends 'base.html' %}
{% block content %}
<div class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>

<table id="t01">
  <tr>
    <th>No.</th>
    <th>Maintenance ID</th>
    <th>Schedule</th>
    <th>PIC</th>
  	<th>Department</th>
    <th>Site</th>
    <th>Device ID</th>
  	<th>Status</th>
  	<th>Detail</th>
  </tr>
  {% for item in schedule_and_pic_set %}
  <tr>
  	<td>  {{ forloop.counter0|add:schedule_and_pic_set.start_index }} </td>
    <td> {{ item.maintenance_id }} </td>
    <td> {{ item.start_date }}  {{ item.start_time }}  till  {{ item.end_date }}  {{ item.end_time }} </td>
    <td> {{ item.pic }} </td>
    <td> {{ item.department }} </td>
    <td> {{ item.site }} </td>
    <td> {{ item.device_id }} </td>
    <td> 
    	{% if item.maintenance.status == 2 %}
    		Approved
    	{% elif item.maintenance.status == 3 %}
    		Rejected
    	{% elif item.maintenance.status == 1 %}
    		Waiting	
		{% endif %}
    </td>
    <td> 
    	<form action="{%url 'forms:detail'%}"  method="POST">
    		{% csrf_token %}
    		<input type="hidden" name="maintenance_id" value={{item.maintenance_id}}>
    		<input type="submit" value="Detail" />
		</form> 
	</td>
  </tr>  
  {% endfor %} 
</table>
{% if schedule_and_pic_set.has_other_pages %}
  <ul class="pagination">
    {% if schedule_and_pic_set.has_previous %}
      <li><a href="?page={{ schedule_and_pic_set.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in schedule_and_pic_set.paginator.page_range %}
      {% if schedule_and_pic_set.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if schedule_and_pic_set.has_next %}
      <li><a href="?page={{ schedule_and_pic_set.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}