{% extends 'base.html' %}
{% block content %}
<div class="c-form-container section-container section-container-image-bg">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">
            {% if reschedule %}
            <div class="c-form-top">
               <div style="text-align: center;">
                  <h3>Maintenance Application Form</h3>
                  <p>Please fill the form below to make reschedule</p>
               </div>
            </div>
            <br>                      
            <div class="c-form-bottom">
               <form action="{% url 'forms:reschedule' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ schedule_and_pic_form.as_p }}
                  <input type="hidden" name="maintenance_id" value={{maintenance_id}}>
                  <input type="hidden" name="save" value="True">
                  <br>
                  <input type="submit" value="Reschedule" class="btn btn-info btn-block" style="margin-bottom: 25%;"/>
               </form>
            </div>
            {% elif user_form %}
            <div class="c-form-top">
               <div style="text-align: center">
                  <h3>My Profile</h3>
                  <p>Please refill the form below to update your profile</p>
               </div>
            </div>
            <br>                      
            <div class="c-form-bottom">
               <form action="{% url 'forms:profile' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ user_form }}
                  <div class="form-group">
                     <label for="c-form-name">
                        <span class="label-text">New password:</span> 
                     </label>
                     <input type="password" name="new_password" class="c-form-name form-control" placeholder="Enter new password">
                  </div>
                  <div class="form-group">
                     <label for="c-form-name">
                        <span class="label-text">New password:</span> 
                     </label>
                     <input type="password" name="re_new_password" class="c-form-name form-control" placeholder="Retype new password">
                  </div>
                  <input type="hidden" name="save" value="True">
                  <br>
                  <input type="submit" value="Save" class="btn btn-info btn-block" style="margin-bottom: 25%;"/>
               </form>
            </div>
            {% else %}
            <div class="c-form-top">
               <div style="text-align: center">
                  <h3>Maintenance Application Form</h3>
                  <p>Please fill the form below to request your maintenance application</p>
               </div>
            </div>
            <br>
            <div class="c-form-bottom">
               <form action="{% url 'forms:create' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h4 >Schedule and PIC</h4>
                  <br>
                  {{ schedule_and_pic_form }}
                  <br>
                  <h4>Location and Device</h4>
                  <br>
                  {{ location_and_device_form }}
                  <br>
                  <h4>Maintenance Activity</h4>
                  <br>
                  {{ activity_form }}
                  <br>
                  <h4>Customer Impact</h4>
                  <br>
                  {{ customer_impact_form }}
                  <br>
                  <h4>Device Replacement</h4>
                  <br>
                  {{ device_replacement_form }}
                  <br>
                  <input type="submit" class="btn btn-info btn-block form-button" style="margin-bottom: 25%;" value="Send" />
               </form>
            </div>
            {% endif %}                      
         </div>
      </div>
   </div>
</div>
{% endblock %}